<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marco_nagy.e_commerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/online_shopping"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/online_shopping"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerce"
        android:usesCleartextTraffic="true"
        android:usesNonSdkApi="true"
        tools:targetApi="m">
        <activity android:name=".ui.shop.ShopActivity" />
        <activity android:name=".ui.messages.ConversationActivity" />
        <activity android:name=".ui.cart.SuccessActivity" />
        <activity android:name=".ui.cart.CheckoutActivity" />
        <activity
            android:name=".ui.product.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/Theme.ECommerce.NoActionBar" />
        <activity android:name=".ui.search.SearchResultActivity" />
        <activity android:name=".ui.messages.MessagesActivity" />
        <activity android:name=".ui.notification.NotificationsActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>